useDynLib(tSPMPlus, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
exportPattern("^[[:alpha:]]+")
import(data.table)
importFrom("utils", "object.size")
import(memuse)